.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 0.125rem solid black;
}

.footer__heading {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__social {
  text-align: end;
}

.footer__social-icon {
  width: 1.25rem;
}

.footer__lower {
  text-align: center;
}

@media (max-width: 768px) {
  .footer__upper {
    flex-direction: column;
  }

  .footer_info-container {
    padding-bottom: 2rem;
  }

  .footer__social {
    text-align: start;
  }

  .footer__upper {
    padding: 2rem 0;
  }
}
