body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.125rem;
  background-color: #f9faff;
}

.theme-background {
  background-color: #fdc435;
}

.theme-color {
  color: #fdc435;
}

.secondary-button {
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.primary-button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 0.75rem;
  background-color: #fdc435;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.main {
  padding: 2rem 4rem;
}

.section {
  min-height: 18.75rem;
  align-items: center;
  text-align: center;
}

.section:not(:first-child, :last-child) {
  padding: 1rem 0;
}

.section:first-child {
  padding-bottom: 1rem;
}

.section:last-child {
  padding-top: 1rem;
}

.section__button {
  display: flex;
  align-items: center;
}

.section__title {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 0.4rem;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 10%;
  width: 80%;
  height: 0.25rem;
  background-color: #fdc435;
  bottom: 0;
  border-radius: 0.25rem;
}
