.section__skills-tabs {
  border-radius: 0.5rem;
  margin: 0 auto;
}

.section__skills-tab-links {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.section__skills-tab-link {
  background-color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-bottom: 0.125rem solid transparent;
  font-family: "Poppins", sans-serif;
}

.section__skills-tab-link:hover {
  background: #f4f4f4;
  border-radius: 0.313rem 0.313rem 0 0;
}

.section__skills-tab-link.active {
  border-radius: 0.5rem 0.5rem 0 0;
  background: #fdc435;
}

.section__skills-tab-content {
  padding: 1.5rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.section__skills-tab-content h2 {
  margin-top: 0;
}

.section__skills__progress-para {
  margin-bottom: 0;
  text-align: start;
  padding-left: 0.5rem;
}

.section__skills__progress-para:first-child {
  margin-top: 0.5rem;
}

.section__skills__progress-bar {
  background-color: black;
  border-radius: 1rem;
  padding: 0.25rem;
  margin: 0.5rem;
}

.section__skills__progress-bar > div {
  background-color: #fdc435;
  min-height: 1.25rem;
  border-radius: 1rem;
  padding-right: 0.5rem;
  text-align: end;
  font-size: 0.75rem;
}
